html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Montserrat", sans-serif;
  font-family: "Kaushan Script", cursive;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.container {
  width: 1201px;
  margin: 0 auto;
}

.logo {
  margin-top: 28px;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  width: 1201px;
  min-height: 50px;
  align-items: baseline;
}

.site-nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 491px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  list-style: none;
}

.site-nav a {
  text-decoration: none;
  list-style: none;
  color: #95e1d3;
}

.titles_first {
  font-family: "Kaushan Script", cursive;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  font-style: italic;
  text-align: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin-top: 25px;
}

.nav-item:hover {
  color: #f38181;
  padding-bottom: 10px;
  border-bottom: 2px solid currentColor;
}

.service-team {
  margin-top: 130px;
}

.titles::after {
  content: "";
  background-image: url(/img/line-icon.png);
  color: rgb(243, 129, 129);
  width: 60px;
  height: 3px;
  display: inline-block;
  margin-left: calc((1201px / 2) - 30px / 2);
}

.service-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1201px;
  margin: 0;
  padding: 0;
}

.service-item {
  flex-basis: 342px;
  flex-grow: 1;
  min-height: 150px;
  text-align: left;
  display: inline-block;
  padding-left: 80px;
  position: relative;
  left: 0px;
  top: 15px;
}

.photo::before,
.web::before,
.creat::before,
.seo::before,
.css_html::before,
.digital::before {
  content: "";
  width: 32px;
  height: 31px;
  display: inline-block;
  position: absolute;
  left: 30px;
  top: 10px;
}

.photo::before {
  background-image: url(/img/ALARM-icon.png);
}

.web::before {
  background-image: url(/img/LINE_GRAPH-icon.png);
}

.creat::before {
  background-image: url(/img/COMPUTER-OK-icon.png);
}

.seo::before {
  background-image: url(/img/BOOK-icon.png);
}

.css_html::before {
  background-image: url(/img/HOME-icon.png);
}

.digital::before {
  background-image: url(/img/IMAGE-icon.png);
}

.service-item-name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #333333;
}

.service-item-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.titles {
  margin-top: 96px;
  margin-bottom: 66px;
}

.titles_second {
  font-family: "Kaushan Script", cursive;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  font-style: italic;
  text-align: center;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin-top: 25px;
}

.team-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 94px;
  padding-left: 128px;
  padding-right: 118px;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 470px;
  background-color: #95e1d3;
  z-index: 10;
}

.card-top {
  position: absolute;
  background-image: linear-gradient(0deg, hsl(47, 95%, 76%) 0%, #f38181 100%);
  width: 380px;
  height: 470px;
  transition: transform 0.3s linear;
  cursor: pointer;
  opacity: 0;
  z-index: 30;
}

.img {
  position: absolute;
  width: 380px;
  height: 470px;
  z-index: 20;
  transition: transform 0.2s linear;
}

.card:hover .img {
  transform: translateX(-12px) translateY(-12px);
}

.card:hover .card-top {
  transform: translateX(-12px) translateY(-12px);
  opacity: 0.8;
}

.card:hover .btn-icon {
  opacity: 1;
  z-index: 40;
}

.overlay-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 40;
}

.btn-icon {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  background-color: #fce38a;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.card:hover .overlay-btn {
  position: absolute;
  opacity: 1;
  z-index: 60;
}

.btn-icon:hover {
  background-color: #95e1d3;
  transition: background-color 0.3s linear;
}

.container-cards {
  display: flex;
  justify-content: space-between;
}

.card-text {
  text-align: center;
}

.card-name {
  margin: 0;
  padding: 26px 0 10px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #333333;
}

.btn-facebook::before {
  content: "";
  background-image: url(/img/facebook.png);
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 13px;
  height: 26px;
}

.btn-twitter::before {
  content: "";
  background-image: url(/img/twitter.png);
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 26px;
  height: 22px;
}

.btn-pinterest::before {
  content: "";
  background-image: url(/img/pinterest.png);
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 21px;
  height: 26px;
}

.btn-instagram::before {
  content: "";
  background-image: url(/img/instagram.png);
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 26px;
  height: 26px;
}

.btn-icon:hover {
  opacity: 1;
}

.card-img {
  position: absolute;
  width: 380px;
  height: 470px;
}

.wrapper-text-card {
  display: flex;
  justify-content: space-around;
  margin-top: 28px;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
}

.occupation {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: lighter;
  font-style: italic;
  color: rgb(153, 153, 153);
}

footer {
  margin: 0;
  padding: 0;
}

.footer-text-form {
  min-height: 62px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 85px;
}

.footer-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.ftr-txt-inf {
  color: #333333;
  font-weight: 500;
}

.form-cont {
  min-width: 380px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.span-text {
  color: #f6a1a1;
}

.btn-form {
  display: inline-block;
  width: 150px;
  height: 40px;
  color: white;
  background: #95e1d3;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  opacity: 1;
  border: none;
  transition: opacity 0.3s linear;
}

.form-btn:hover .btn-form {
  cursor: pointer;
  background-color: #1ec9a9;
}

.input-email {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  width: 230px;
  height: 40px;
  font-size: 15px;
}
