html {
    box-sizing: border-box;
  }

  *,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: "Roboto", "Montserrat", sans-serif;
    font-family: 'Kaushan Script', cursive;
    padding: 0;
    margin: 0;
    
}

header {
    height: 50px;
}

.container {
width: 1201px;
margin: 0 auto;
}

.logo {
    margin-top: 28px;
   
}

.page-nav {
    display: flex;
    justify-content: space-between;
    width: 1201px;
    min-height: 50px;
    align-items: baseline;


}

.site-nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 491px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    list-style: none;
    
}

.site-nav a {
    text-decoration: none;
    list-style: none;
    color: #95e1d3;
}

.titles_first {
font-family: "Kaushan Script", cursive;
font-weight: 500;
color: #333333;
font-style: italic;
text-align: center;
margin-top: 130px;
}

h1 {
font-family: "Montserrat",  sans-serif;
font-weight: bold;
text-transform: uppercase;
color: #333333;
text-align: center;
margin-top: 25px;
}
  
