html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Playfair Display", "Ubuntu", "Arial", serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}
.header {
  width: 902px;
  margin: 0 auto;
}
.site--nav {
  padding: 74px 0;
}
.main-container {
  width: 902px;
  margin: 0 auto;
  padding: 0;
}
.visually-hidden:not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu {
  margin: 0;
  padding: 0;
  font-size: 0;
  height: 190px;
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*text-align: center;
  vertical-align: middle;*/
}
.menu a:hover,
.menu a:focus {
  color: #03a9f4;
}

.menu--item {
  font-size: 14px;
  display: inline-block;
  margin: auto 66px;
  height: 25px;
}
.menu--item a {
  color: #626262;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
}

section {
  box-sizing: border-box;
  display: inline-block;
  width: 448px;
  text-align: justify;
  vertical-align: top;
  padding: 0 32px;
  margin-bottom: 136px;
}

figure {
  display: inline;
  margin: inherit;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

figcaption {
  font-family: "Ubuntu";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 24px;
}
h2 {
  font-family: "Playfair Display", serif;
  box-sizing: content-box;
  text-align: justify;
  font-size: 28px;
  line-height: 36px;
  white-space: nowrap;
}
p {
  font-family: "Playfair Display", serif;
  box-sizing: content-box;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}

.footer {
  display: block;
  font-size: 60px;
  text-align: center;
}
.btn-load-more {
  display: inline-block;
  font-family: "Playfair Display", serif;
  width: 162px;
  height: 62px;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 70px;
  text-align: center;
  vertical-align: middle;
}
