.card {
  @include flex-center('all');
  position: relative;
  width: 380px;
  height: 470px;
  background-color: $bg-color-card;
  z-index: 0;
  cursor: pointer;

  .card-img {
    position: absolute;
    z-index: 20;
    cursor: pointer;
    transition: transform 0.2s linear;
  }

  .card-top {
    position: absolute;
    background-image: linear-gradient(0deg, hsl(47, 95%, 76%) 0%, #f38181 100%);
    width: 380px;
    height: 470px;
    transition: transform 0.3s linear;
    cursor: pointer;
    opacity: 0;
    z-index: 30;
  }

  &:hover .card-img,
  &:focus .card-img {
    transform: translateX(-12px) translateY(-12px);
    transition: background-color 0.2s linear;
    cursor: pointer;
  }

  &:hover .card-top,
  &:focus.card-top {
    transform: translateX(-12px) translateY(-12px);
    transition: background-color 0.2s linear;
    opacity: 0.8;
  }

  &:hover .card-btn {
    position: absolute;
    opacity: 1;
    z-index: 60;
  }

  &:hover .card-btn--icon {
    opacity: 1;
    z-index: 50;
  }

}
