.link-btn {
  fill: #f38181;
}

.link-btn--facebook {
  width: 13px;
  height: 26px;
}

.link-btn--twitter {
  width: 26px;
  height: 22px;
}

.link-btn--pinterest {
  width: 21px;
  height: 26px;
}

.link-btn--instagram {
  width: 26px;
  height: 26px;
}
