.list-item--service {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 40px 60px;

  .text-description--item {
    font-family: $secondary-font-stack;
    font-size: 15px;
    line-height: 24px;
  }

  .link-svg--service {
    background-size: cover;
    background-position: center;
    fill: $bg-color-card;
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: 30px;
  }

  .text-name--item {
    text-transform: uppercase;
    font-family: $main-font-stack;
    font-size: 14px;
    margin: 0;
  }

  .text-description--item:nth-child(3) {
    grid-column: 2 / 3;
  }
}
