.link-icon--logo {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 86px;
    height: 23px;
    background-image: url(../../images/svg/svg-logo.svg);
}