.text-description {
  font-family: $secondary-font-stack;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  margin-top: 46px;
  margin-bottom: 94px;
  padding-left: 128px;
  padding-right: 118px;
}
