@mixin bg-wrap-img($path, $size, $repeat, $pos) {
  background-image: url($path);
  background-size: $size;
  background-repeat: $repeat;
  background-position: $pos;
}

@mixin flex-center($type: 'all') {
  display: flex;

  @if $type== 'all' {
    justify-content: center;
    align-items: center;
  } @else if $type== 'ver' {
    align-items: center;
  } @else if $type== 'hor' {
    justify-content: center;
  } @else if $type== 'hor-spbeet' {
    justify-content: space-between;
    align-items: center;
  } @else if $type== 'spbetween' {
    justify-content: space-between;
    align-items: center;
  } @else if $type== 'sparound' {
    justify-content: space-around;
    align-items: center;
  }
}
