$main-font-stack: 'Montserrat', sans-serif;
$margin-container: 0 auto;
$secondary-font-stack: 'Roboto', sans-serif;
$thirdary-font-stack: 'Kaushan Script', cursive;
$bg-color-wrapper: #1a1915;
$hdr-color: #ffff;
$margin-zero: 0;
$padding-zero: 0;
$hvr-color: #fce38a;
$bg-color-card: #95e1d3;